@use "../../global";

.landing-section {
	max-width: 1025px;
}

.hero {
	position: relative;
}

.main-title-container {
	position: absolute;
	bottom: 4px;
	left: 0;
	max-width: 350px;
	padding: 1rem;
	background-color: white;
}
