@use "../../global";

.btn {
	display: inline-block; //with this we don't need flex for responsiveness
	text-transform: uppercase;
	font-size: 0.75rem;
	padding: 1rem 2rem;
	letter-spacing: 2px;
	font-weight: 600;
	margin-right: 10px;
	margin-bottom: 25px;
	position: relative; //for the animatios they will use
	overflow: hidden; //for the animations they will use
	&--dark {
		background-color: global.$accent-color;
		color: white;
		&:before {
			background: white;
		}
	}
	&--light {
		padding: 1rem 1.75rem;
		color: global.$primary-text-color;
		border: 1px solid global.$primary-text-color;
		&:before {
			background: global.$accent-color;
		}
		&:hover {
			border-bottom: 0;
		}
	}
	&:hover {
		cursor: pointer;
	}
}

// THIRD PARTY CSS
/* UNDERLINE FROM CENTER EFFECT (SHOUT-OUT TO IAN LUNN'S HOVER.CSS https://github.com/IanLunn/Hover) */
.btn {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.btn:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	// background: #2098d1;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.btn:hover:before,
.btn:focus:before,
.btn:active:before {
	left: 0;
	right: 0;
}
