@use "../../global";

.title {
	font-family: global.$font-family-serif;
	font-weight: 700;
	&--main {
		margin-top: 20px;
		margin-bottom: 25px;
		font-size: 2.5rem;
		line-height: 1;
		letter-spacing: 1px;
	}

	&--light {
		color: white;
	}

	&--sub {
		font-size: 2.25rem;
		padding-bottom: 15px;
		border-bottom: 1px solid global.$border-color;
	}

	&--project {
		font-size: 2rem;
		margin: 0 0 15px;
	}
}
