@use "../global";

// HEADER
.header {
	display: flex;
	padding: 2.5rem 0;
	margin-bottom: 15px;
	justify-content: center;
}

.nav {
	width: 90%;
	& ul {
		display: flex;
		justify-content: space-around;
	}
	&__link {
		color: global.$primary-text-color;
		text-transform: uppercase;
		font-size: 0.9rem;
		font-weight: 600;
		letter-spacing: 1px;
		transition: color 0.2s linear;
		&:hover {
			color: global.$on-hover-link-color;
		}
	}
}
