$primary-text-color: #33323d;
$accent-color: #203a4c;
$on-hover-link-color: #5fb4a2;
$border-color: #dcdcde;
$font-family-sans: "Public Sans", sans-serif;
$font-family-serif: "Ibarra Real Nova", serif;
